-- DropForeignKey
ALTER TABLE "school" DROP CONSTRAINT "school_city_id_fkey";

-- DropIndex
DROP INDEX "school_city_id_idx";

-- DropIndex
DROP INDEX "school_name_city_id_key";

-- AlterTable
ALTER TABLE "school" DROP COLUMN "city_id",
ADD COLUMN     "old_province_id" INTEGER NOT NULL;

-- AlterTable
ALTER TABLE "student" DROP COLUMN "new_school_city",
DROP COLUMN "school_country";

-- DropTable
DROP TABLE "city";

-- CreateTable
CREATE TABLE "old_province" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "old_province_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "school_old_province_id_idx" ON "school"("old_province_id");

-- CreateIndex
CREATE UNIQUE INDEX "school_name_old_province_id_key" ON "school"("name", "old_province_id");

-- AddForeignKey
ALTER TABLE "school" ADD CONSTRAINT "school_old_province_id_fkey" FOREIGN KEY ("old_province_id") REFERENCES "old_province"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

